.idea
*.iml
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

build.log
build-*.log

.tox/

aws-parallelcluster-cookbook-*.tgz
aws-parallelcluster-cookbook-*.md5
aws-parallelcluster-cookbook-*.date

.coverage
__pycache__
report.html
/assets/style.css
